<%- include("../layout/navbar") -%>

<div class="order" data-aos="zoom-in">
    <% if(data.isChampion == false){%>
        <p class="title">معلومات الطلبية</p>
    <div class="info">
        <p>الاسم : <%= data.name%></p>
        <p>المحافظة : <%= data.location%></p>
        <p>المنطقة : <%= data.area%></p>
        <p>رقم الهاتف : <%= data.phone%></p>

    </div>
    <table class="table">
        <thead>
            <tr>
                <th style="color: #fff;">#</th>
                <th>الصورة</th>
                <th>الاسم</th>
                <th>السعر</th>
                <th>الكمية</th>
                <th>السعر النهائي</th>
            </tr>
        </thead>

        <tbody>
            <% for (let i = 0; i < data.order.length; i++) {%>
                <tr>
                    <td style="color: #f92647"><%= i+1%></td>
                    <td><img src="/upload/images/<%= data.order[i].image%>"></td>
                    <td><%= data.order[i].name%></td>
                    <td style="direction: ltr"><%= data.order[i].price%> <span>IQD</span></td>
                    <td><%= data.order[i].qty%></td>
                    <td style="direction: ltr"><span style="color: #fff" id="final"><%= data.order[i].qty * data.order[i].price %></span> <span>IQD</span></td>

                </tr>
            <%} %>
            <tr>
                <td id="total_price" style="direction: ltr" colspan="6"></td>
            </tr>
        </tbody>
    </table>
    <%} %>

    <% if(data.isChampion == true){%>
        <p class="title">معلومات الطلبية</p>
    <div class="info">
        <p>الاسم : <%= data.name%></p>
        <p>المحافظة : <%= data.location%></p>
        <p>المنطقة : <%= data.area%></p>
        <p>رقم الهاتف : <%= data.phone%></p>

    </div>
    <table class="table">
        <thead>
            <tr>
                <th>الصورة</th>
                <th>الاسم</th>
                <th>السعر</th>
            </tr>
        </thead>

        <tbody>
            <% for (let i = 0; i < data.order.length; i++) {%>
                <tr>
                    <td><img src="/upload/images/<%= data.order[i].image%>"></td>
                    <td><%= data.order[i].name%></td>
                    <td style="direction: ltr"><%= data.order[i].price%> <span>IQD</span></td>
                </tr>
            <%} %>
        </tbody>
    </table>
    <%} %>
</div>

<script>
    var price = document.querySelectorAll("#final")
    var arr = []
    for (let i = 0; i < price.length; i++) {
        arr.push(Number(price[i].innerHTML))
    }

    const total = arr.reduce((a, b) => a + b)

    document.getElementById("total_price").innerHTML =  total + ' ' + '<span>' + 'IQD' + '</span>' + ' ' + ' : السعر الكامل'
</script>

<%- include("../layout/footer") -%>