<%- include("../layout/navbar") -%>

<% if(suc.length > 0){%>
    <script>
        Swal.fire(
            'تم اضافة المنتج الى السلة',
            '',
            'success',
        )
    </script>
<%} %>

<% if(err.length > 0){%>
    <script>
        Swal.fire(
            'يجب عليك تسجيل الدخول للقيام بعملية الشراء',
            '',
            'error',
        )
    </script>
<%} %>

<% if(unique.length > 0){%>
    <script>
        Swal.fire(
            'تمت اضافة المنتج الى السلة مسبقا',
            '',
            'error',
        )
    </script>
    <%}%>

<div class="product-store">
    <p class="title" data-aos="fade-up"  data-aos-delay="100"><%= data.name%></p>
    <img data-aos="zoom-out"  data-aos-delay="400" src="/upload/images/<%= data.image%>">
    <div class="des" data-aos="zoom-in"  data-aos-delay="800">
        <p><%= data.des%></p>
    </div>
    <div class="fot">
    <p class="price" data-aos="fade-right"  data-aos-delay="800"><%= data.price%><span style="font-size: 16px">IQD</span></p>
        <form action="/cart/add/<%= data.id%>?_method=PUT" method="post">
            <button data-aos="fade-right"  data-aos-delay="1100" class="add-cart"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shopping-cart-plus" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <circle cx="6" cy="19" r="2" />
                <circle cx="17" cy="19" r="2" />
                <path d="M17 17h-11v-14h-2" />
                <path d="M6 5l6.005 .429m7.138 6.573l-.143 .998h-13" />
                <path d="M15 6h6m-3 -3v6" />
              </svg> اضافة الى السلة</button>
        </form>
    </div>
</div>
<br><br><br><br>
<br>
<br>
<br>
<div class="store" data-aos="fade-down">
    <div class="slider owl-carousel owl-theme">
        <% products.forEach(data => {%>
                <div class="card" onclick="window.location.href='/store/product/<%= data.id%>'">
                    <img src="/upload/images/<%= data.image%>" alt="">
                    <p class="title"><%= data.name%></p>
                    <p class="minDes"><%= data.minDes%></p>
                    <p class="price"><%= data.price%></p>
                </div>
            <%}) %>
    </div>
<script>
    $(".slider").owlCarousel({
        responsive: {
            0: {
                items: 2, //10 items above 1000px browser width
                itemsDesktop: [1000, 5], //5 items between 1000px and 901px
                itemsDesktopSmall: [900, 3], // betweem 900px and 601px
                itemsTablet: [600, 2], //2 items between 600 and 0
                itemsMobile: true, // itemsMobile disabled - inherit from itemsTablet option
                autoplay: true, //
                loop: true,
                autoplayTimeout: 2000,
                autoplayHoverPause: true,
                navigation : false 
            },

            1000: {
                items: 6, //10 items above 1000px browser width
                itemsDesktop: [1000, 5], //5 items between 1000px and 901px
                itemsDesktopSmall: [900, 3], // betweem 900px and 601px
                itemsTablet: [600, 2], //2 items between 600 and 0
                itemsMobile: true, // itemsMobile disabled - inherit from itemsTablet option
                autoplay:true,
                loop: true,
                autoplayTimeout: 1500,
                autoplayHoverPause: true,
            }
        }
    })
</script>
<br>
<br>
</div>

<%- include("../layout/footer") -%>
